body {
  background-color: black;
  margin: 0;
  font-family: Prompt;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
